{% extends 'base.html' %}

{% block bodyblock %}


<div class="container">
    <br><br>
    <h3 class="display-6"> Notre application vous offre  de la précision et de la sécurité  </h3> <br/>
        <p>
            <h6>pages en cours d'amélioration pour une expérience plus agréable, n'hésitez pas nous faire des retours  .</h6>
        </p>
        <img class="image-fluid" src="/static/images/process.jpg" alt="photo" width="400"/>
        <a class="btn btn-outline-primary" href="/app/gender/"> Allez sur l'application </a>
</div>


          
{% endblock %}